// GENERAL STYLES
html {
	font-size: 62.5%;
	// font-family: 
}
// ==Typography==
h1 {
	font-size: 3rem;
}
// ==Typography Ends==
.wrapper__prim {
	max-width: 1440px;
}

.wrapper__sec {
	max-width: 1000px;
}
// GENERAL STYLES ENDS
// ========================

// ========================
// HEADER
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.header__prim {
	// text-align: center;
}

.media__form {
	display: flex;
	flex-direction: column;
}
// HEADER ENDS
// ========================

// ========================
// MAIN
.main__container {
	margin: 0 auto;
}

.media__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
// MAIN ENDS
// ========================

// ========================
// FOOTER
.footer_text {
	text-align: center;
}
// FOOTER ENDS