html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
// GENERAL STYLES
// ==Colours==
// rgb(255, 201, 0)
// rgb(92, 92, 92)
// rgb(180, 180, 180)

html {
	font-size: 62.5%;
	font-family: Verdana;
}
// ==Typography==
h1 {
	font-size: 5rem;
	font-family: 'Limelight', cursive;
	letter-spacing: 2px;
}

h2 {
	font-size: 3rem;
	font-family: 'Limelight', cursive;
	border-top: 5px double black;
	padding-top: 10px;
	margin: 0 0 20px 0;
	text-transform: capitalize;
}

h3 {
	font-size: 2rem;
	margin: 0;
}

p {
	font-size: 1.5rem;
	color: #272727;
}
// ==Typography Ends==
.wrapper__prim {
	max-width: 1440px;
}

.wrapper__sec {
	max-width: 1000px;
}

.hidden {
	display: none;
}
// GENERAL STYLES ENDS
// ========================

// ========================
// BODY
// ========================
body {
	background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../images/project3BodyBackgroundImage.jpg");
	background-size: static;
	background-position: top;
	// background-repeat: repeat;
}
// ========================
// BODY ENDS
// ========================

// ========================
// HEADER
// ========================
.header {
	// border: 2px solid red;
	box-shadow: 0 0 10px rgba(0,0,0,0.7); 
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 50px;
	border: outset;
	// padding-bottom: 25px;
	background: linear-gradient(to bottom, rgb(92, 92, 92), rgb(180, 180, 180));
}
// ==Canvas==
.canvas-container {
	align-self: flex-start;
}

#canvas {
	width: auto;
	background-color: transparent;
}
// ==Canvas Ends==
// ========================
// ==Header Main==
.header__prim {
	align-self: center;
	margin-top: -140px;
}
.header__prim-span {
	background: linear-gradient(to bottom, rgb(255, 201, 0), rgb(255, 255, 255));
	letter-spacing: 5px;
}
// ==Header Main Ends==
// ========================
// ==Media Search Form==

// ====Search field and button====
.search__form-section {
	display: flex;
	justify-content: center;
}

.media__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.media__form__search {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.media__form__search-field {
	display: flex;
}

#media__search {
	height: 35px;
	width: 390px;
	padding-left: 5px;
	font-size: 1.8rem;
	border: 1px solid rgb(92, 92, 92);
}

#media__submit {
	width: 115px;
	font-size: 1.8rem;
	text-transform: capitalize;
	border: 1px solid rgb(92, 92, 92);
	background-color: #FFC900;
}
// ====Search field and button Ends====

// ====Media Form Type====
.media__form__type {
	display: flex;
	justify-content: space-between;
}

input[name=type] {
	// margin-right: 7px;
	// padding-top: 5px;
	width: 2rem;
	height: 2rem;
}

.media__form__button {
	margin-right: 7px;
}

.media__form__button label {
	font-size: 1.5rem;
}

input[id=all],
label[id=all]
 {
	display: none;
}

.hamburger-container {
	display: none;
}

// .label-close {
// 	display: none;
// 	background-color: transparent;
// }
// ====Media Form Type Ends====

// ====Search Field Error====
.inline-error {
	color: red;
	font-size: 1.5rem;
	font-weight: 700;
	width: 505px;
	margin-bottom: 0;
	margin-top: 5px;
	text-align: center;
}

#error {
	height: 45px;
}
// ====Search Field Error Ends====

// ==Media Search Form Ends==
// ========================
// HEADER ENDS
// ========================

// ========================
// MAIN
// ========================
// ==Media Search Results==
.media__results-container {
	margin: 0 auto;
	// margin-bottom: 50px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.7); 
	background-color: white;
	padding: 25px;
	border-style: outset;
}

.TasteDive__API-container {
	display: flex;
	flex-direction: column;
}

.media__type__title {
	// margin: 25px 25px 0 25px;
}

.media__wiki {
	font-size: 2rem;
	margin-bottom: 20px;
}

.media__youtube {
	margin-bottom: 20px;
	max-width: 560px;
	height: 315px;
}

// iframe {
// 	max-width: 560px;
// }

.add-button {
	width: 150px;
	padding: 10px 0;
	background: linear-gradient(to top, rgb(128,128 ,128), rgb(230, 230, 230));
	font-size: 1.7rem;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 5px;
    margin-bottom: 15px;
}
// ====IMDB Rating====
.imdb-container {
	display: flex;
}

.imdb-image-container {
	width: 100px;
	margin-bottom: 20px;
}

.imdb-container img {
	display: block;
	width: 100%;
}

.imdb-container p {
	margin: 10px 0 0px 10px;
    font-size: 2.5rem;
    color: black;
    font-family: Arial;
}

.imdb-container p::before {
	content: '⭐️';
	margin-right: 2px;
}

// ====IMDB Rating Ends====
// ==Media Search Results Ends==
// ========================
// ==Favourites List==
.favourites-container {
	position: fixed;
	right: 0;
	bottom: 0;
	// z-index: 5;
	border-radius: 10px 10px 0 0;
	border: 2px solid rgb(255, 160 ,0);
	// border-style: inset;
	width: 388px;
	// background-color: lightgrey;
	background-color: rgb(255, 201, 0);
}

.favourites-list__title {
	// background-color: rgb(255, 201, 0);
	display: flex;
	padding: 5px 0 5px 10px;
	border-radius: 10px 10px 0 0;
	// border-bottom: 2px double black;
	// border-bottom-style: double;
	width: 100%;
	justify-content: space-between;
}

.favourites-list__title__buttons {
	// display: flex;
	// width: auto;
	// justify-content: space-around;
	margin-right: 15px;
}

.favourites-list__description {
	// padding-right: 170px;
}

.favourites-list-window {
	// background-color: lightgrey;
	// background-color: rgb(255, 201, 0);
	border-top-style: double;
}

.delete {
	background-color: transparent;
	// border: 5px solid red;
	// border-radius: 50%;
	border: none;
}

.favourites-list__list {
	margin: 0;
	height: 250px;
	overflow: scroll;
	font-size: 1.5rem;
}

.favourites-list__list-item {
	display: flex;
	justify-content: space-between;
	border-bottom-style: dashed;
}

.favourites-list__list-item p {
	display: inline-block;
}

.favourites-list__list-item i {
	font-size: 15px;
	margin-right: 15px;
}
// ====Favourites Window Buttons====
.hidden {
	display: none;
}

.favourites-minimize {
	// align-self: flex-end;
	padding: 6px 8px;
	// background-color: #FFAA00;
	// background-color: rgb(255,135 ,0);
	background: linear-gradient(to bottom right, rgb(255, 160 ,0), rgb(255, 190, 75));
	border: 1px solid rgb(255,160 ,0);
}

.favourites-maximize {
	// align-self: flex-end;
	padding: 6px 8px;
	// background-color: #FFAA00;
	// background-color: rgb(225, 177, 0);
	background: linear-gradient(to bottom right, rgb(255, 160 ,0), rgb(255, 190, 75));
	border: 1px solid rgb(255,160 ,0);
}
// ====Favourites Window Buttons Ends====

// ====Favourites Clear and Print Buttons====
.favourites-list__form {
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;
}

.clear-list, .print-button {
	padding: 6px 20px;
	border-radius: 5px;
	font-size: 1.5rem;
	margin: 5px 0 5px 3px;
	background: linear-gradient(to bottom, rgb(255, 160 ,0), rgb(255, 190, 75));
	border: 1px solid rgb(255,160 ,0);
}
// ====Favourites Clear and Print Buttons====

// ==Favourites List Ends==
// ========================
// MAIN ENDS
// ========================

// ========================
// FOOTER
footer {
	margin: 0 auto;
	margin-top: 250px;
}

.footer_text {
	text-align: center;

}
// ========================
// FOOTER ENDS
// ========================

// ========================
// MEDIA QUERIES
// ========================

// ==Responsive==
// **Portrait tablet and small desktops**
@media (max-width: 940px) {

}
// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
	// ==header==
	canvas {
		display: none;
	}

	.header__prim {
		margin-top: 94px;
	}
	// ==Type selection Hamburger Menu==
	// .media__form__search-field {
	// 	width: 505px;
	// }

	#media__search {
		width: 210px;
	}

	#media__submit {
		width: 70px;
	}

	input[name=type] {
		display: none;
	}

	.media__form__type {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 100;
		background: linear-gradient(to bottom, rgb(255, 201, 0), rgb(255, 255, 255));
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
	}

	.media__form__type label {
		font-size: 4rem;
		display: block;
		cursor: pointer;
	}

	label[id=all] {
		color: red;
	}

	.hide {
		display: none;
	}

	.hamburger-container {
		display: flex;
		margin-bottom: 10px;
		// flex-direction: column;
	}

	.hamburger-container p {
		margin: 5px 0;
		margin-right: 10px;
		font-size: 1.5rem;
	}
	

	// .label-close {
	// 	// display: absolute;
	// 	// top: 10px;
	// 	// left: 10px;
	// 	// z-index: 200;
	// 	display: block;
	// 	align-self: flex-start;
	// 	margin-left: 30px;
	// 	font-size: 4rem;
	// 	border: none;
	// }

}
// **Landscape phones and down**
@media (max-width: 480px) {
	.media__youtube {
		height: 250px;
	}

	.TasteDive__API-container {
		text-align: center;
		align-items: center;
	}

	.media__description {
		text-align: left;
	}

	.favourites-container {
		width: 355px;
	}
}
// ==Responsive Ends==
// MEDIA QUERIES ENDS
// ========================