// GENERAL STYLES
html {
	font-size: 62.5%;
	// font-family: 
}
// ==Typography==
h1 {
	font-size: 5rem;
}
// ==Typography Ends==
.wrapper__prim {
	max-width: 1440px;
}

.wrapper__sec {
	max-width: 1000px;
}
// GENERAL STYLES ENDS
// ========================

// ========================
// BODY
body {
	background-color: blue;
}
// ========================

// ========================
// HEADER
.header {
	display: flex;
	flex-direction: column;
}

.canvas-container {
	// display: flex;
	// justify-content: left;
}

.header__prim {
	align-self: center;
	margin-top: -140px;
	
}

#canvas {
	width: auto;
	background-color: transparent;
}
// HEADER ENDS
// ========================

// ========================
// MAIN
.search__form-section {
	display: flex;
	justify-content: center;
}

.media__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.media__results-container {
	margin: 0 auto;
	background-color: white;
}

.omdb__API-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
// MAIN ENDS
// ========================

// ========================
// FOOTER
.footer_text {
	text-align: center;
}
// FOOTER ENDS