html {
  font-size: 62.5%; }

h1 {
  font-size: 3rem; }

.wrapper__prim {
  max-width: 1440px; }

.wrapper__sec {
  max-width: 1000px; }

body {
  background-color: blue; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.header__prim {
  margin-top: 0; }

#canvas {
  width: inherit;
  background-color: transparent;
  border-radius: 50%; }

.search__form-section {
  display: flex;
  justify-content: center; }

.media__form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.media__results-container {
  margin: 0 auto;
  background-color: white; }

.omdb__API-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.footer_text {
  text-align: center; }
